@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 .participants{
  /* margin-left: 50%;  */
  /* position: absolute; */
  /* margin: 50%; */
  /* width: 50%; */
  /* height: 50%; */
  /* background: aqua; */
  height: 50vh;
  width: 30vw;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  /* border: 1px solid; */
  /* margin-left: 35vw; */
  /* border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px; */
  /* margin: 50%; */
  border-radius: 9px;
  /* width: 50; */
  /* margin-top: 25vh; */



  position: absolute;
    top: 20%;
    left: 35%;
    /* border: 1px solid lightgray; */
    /* width: 233px;
    height: 188px; */
 }

 ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 9px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  margin-bottom: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
 .parheader{
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid;
  /* border-radius-top: 9px; */
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-right: 0px;
  border-left: 0px;
  font-family: 'Poppins', sans-serif;
  
 }
 .parbody{
  width: 100%;
  height: 90%;
  overflow: auto;
  /* background: yellow; */
 }
 .singleparticipant{
  display: flex;
    justify-content: space-evenly;
    height: 20%;
    background: #28BF8B;
    margin-top: 3%;
    border-radius: 18px;
    align-items: center;
 }
 .profile{
    height: 70%;
    background: white;
    width: 10%;
    color: #28BF8B;
    border-radius: 35%;
    display: flex;
    font-family: cursive;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
 }
 .namepart{
    height: 70%;
    width: 70%;
    /* background: aqua; */
    /* font-family: cursive; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bolder;
    font-family: cursive;
    text-transform: uppercase;
 }
